
.container{
    display: flex;
    width: 1300px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    border-left: 1px solid red;
    border-right: 1px solid red;
}
.min_height {
    min-height: 83vh;
}
