
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #444;
    color: #fff;
    padding: 0.625rem 2rem;
    text-align: center;
    align-items: center;
}

.parceiro{
    font-size:18px;
}

.social_list{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.item_list {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.image {
    font-size: 1.6rem;
    cursor: pointer;
    color: rgb(20, 137, 14);
}
.image:hover {
    font-size: 1.6rem;
    cursor: pointer;
    color: #fff;
}

.copy_right{
    font-size: 18px;
    justify-content: center;
    margin-top: 0.5rem;
}
.span {
    letter-spacing: 3px;
}

.companhe{
    font-size: 1.3rem;
}